.conteiner {
   width: 1280px;
   border: 1px solid black;
   margin: 0 auto;
   display: flex;
}

.buttonStyle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    height: 67px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: lightseagreen;
    font-size: 20px;
}

.buttonStyle:hover {background-color: #40e7d1}

.buttonStyle:active {
  background-color: #40e7d1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btnSSstyle {
   position:absolute;
   bottom: 10px;
   left: 10px;
   background-color: lightseagreen;
   box-shadow: 0 1px #666;
   width: 84px;
} 

.btnReturnStyle {
   position: absolute;
   bottom: 10px;
   left: 100px;
   box-shadow: 0 1px #666;
   width: 84px;
}

.imgContent {
   border: 1px solid black;
   position: relative;
}

.hidden {
   display: none;
}

.displayImgBg {
   width: 600px;
   height: 400px;
}

.rightContent {
   display: flex;
   flex-direction: row;
   border-bottom: 1px solid black;
   font-size: 20px;
   
}

.rightContentHeader {
   background-color: lightseagreen;
   height: 67px;
}

.colorBending {
   border: 1px solid black;
   min-width: 287px;
   text-align: center;
}

.pixelSorting {
   border: 1px solid black;
   min-width: 287px;
   text-align: center;
}

h3 {
   margin: 0px;
}

.rightContentHeader {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

fieldset {
   border: 0 none;
}

.inputSize {
   width: 50px;
}

.value {
   padding: 10px 5px;

}